.container
  .row
    .col-md-2
      Search:
      %input{'ng-model' => 'query'}
      %br
      Sort by:
      %select{'ng-model' => 'orderProp'}
        %option{value: 'name'} Alphabetical
        %option{value: 'age'}  Newest
    .col-md-10
      %ul.phones
        %li.well.phone-listing{'ng-repeat' => 'phone in phones | filter:query | orderBy:orderProp'}
          .col-md-2
            %a.thumbnail{href: '#/phones/{{phone.id}}'}
              %img{'ng-src' => '{{phone.imageUrl}}'}
          .col-md-10
            %a{href: '#/phones/{{phone.id}}'}
              {{phone.name}}
            %p {{phone.snippet}}
