<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      Search:
      <input ng-model='query'>
      <br>
      Sort by:
      <select ng-model='orderProp'>
        <option value='name'>Alphabetical</option>
        <option value='age'>Newest</option>
      </select>
    </div>
    <div class='col-md-10'>
      <ul class='phones'>
        <li class='well' ng-repeat='phone in phones | filter:query | orderBy:orderProp'>
          <div class='col-md-2'>
            <a class='thumbnail' href='#/phones/{{phone.id}}'>
              <img ng-src='{{phone.imageUrl}}'>
            </a>
          </div>
          <div class='col-md-10'>
            <a href='#/phones/{{phone.id}}'>
              {{phone.name}}
            </a>
            <p>{{phone.snippet}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
