.container
  .row
    .col-md-2
      Search:
      %input{'ng-model' => 'query'}
      %br
      Sort by:
      %select{'ng-model' => 'orderProp'}
        %option{value: 'name'} Alphabetical
        %option{value: 'age'}  Newest
    .col-md-10
      %ul.phones.inline-list
        %li{'ng-repeat' => 'phone in phones | filter:query | orderBy:orderProp'}
          %a{href: '#/phones/{{phone.id}}', class: 'thumbnail'} 
            %img{'ng-src' => '{{phone.imageUrl}}'}
          %a{href: '#/phones/{{phone.id}}'}
            {{phone.name}}
          %p {{phone.snippet}}
